<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STIM Profile</title>
    <link rel="stylesheet" href="/pages/Profile/Profile.css">
</head>

<body>
    <div class="container">
        <side-nav></side-nav>

        <main class="content">
            <top-bar></top-bar>
            <profile-section></profile-section>

            <section class="recent-activity">
                <h3>Biblioteca</h3>
                <div class="activity-grid">
                    <div class="activity-card">
                        <div class="activity-info">
                            <h4>No hay juegos por el momento...</h4>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script type="module" src="../../script.js"></script>
</body>

</html>