<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Details - Five Nights at Freddy's</title>
    <link rel="icon" href="assets/icon.svg">
    <link rel="stylesheet" href="/pages/GamePage/GamePage.css">
</head>

<body>
    <div class="container">
        <side-nav></side-nav>
        <div class="main-content">
            <top-bar></top-bar>
            <game-details-header></game-details-header>
            <div class="recommendation">
                <h2 style="padding: 12px;">Recomendados</h2>
                <games-grid></games-grid>
            </div>
        </div>
    </div>
    <script type="module" src="../../script.js"></script>
</body>

</html>