:root {
    --primary-color: #457B9D;
    --secondary-color: #2a3846;
    --accent-color: #2DC48D;
    --text-color: #ffffff;
    --turquoise: #45A7BF;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #457B9D;
    color: #fff;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content {
    width: 75%;
    padding: 20px;
    order: 1; /* Mantiene el main-content a la izquierda */
}

.cart-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #38586C;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.cart-item img {
    height: 60px;
    border-radius: 5px;
}

.cart-item-info {
    flex-grow: 1;
    margin-left: 15px;
}

.cart-item-info h3 {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
}

.cart-item-price {
    font-size: 1.2em;
    color: #2DC48D;
    font-weight: bold;
}

.checkout {
    background-color: #38586C;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 25%;
    height: fit-content;
    order: 2; /* Mueve checkout a la derecha */
}

.checkout-total {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.checkout-button {
    background-color: #2DC48D;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #26a47c;
}