<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" href="assets/icon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap"
        rel="stylesheet">
    <title>Game Store</title>
</head>

<body>
    <div class="container">
        <side-nav></side-nav>
        <div style="width: -webkit-fill-available;">
            <top-bar></top-bar>
            <div class="main-content">
                <featured-games></featured-games>
                <h2>Populares</h2>
                <games-grid></games-grid>
            </div>
        </div>
    </div>
    <script type="module" src="./script.js"></script>
</body>

</html>